<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.loginapp" >

    <!-- <uses-sdk -->
    <!-- android:minSdkVersion="16" -->
    <!-- android:targetSdkVersion="21" /> -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission -->
    <!-- android:name="android.permission.WRITE_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="18" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission -->
    <!-- android:name="android.permission.READ_EXTERNAL_STORAGE" -->
    <!-- android:maxSdkVersion="18" /> -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <application
        android:name=".base.ApplicationMain"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.Login_act"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registration.Register_act"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activities.Login_act" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Login_act" />
        </activity>
        <activity
            android:name=".profile.ProfilePrivate_act"
            android:label="@string/title_activity_user"
            android:parentActivityName=".activities.Login_act"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Login_act" />
        </activity>
        <activity
            android:name=".chat.UserChatList_act"
            android:label="@string/title_activity_user_list"
            android:parentActivityName=".profile.ProfilePrivate_act" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.ProfilePrivate_act" />
        </activity>
        <activity
            android:name=".activities.ResetPassword_act"
            android:label="@string/title_activity_reset_password"
            android:parentActivityName=".activities.Login_act" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Login_act" />
        </activity>
        <activity
            android:name=".chat.Chat_act"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".chat.NewUserChat_act"
            android:label="@string/title_activity_new_user_chat" >
        </activity>
        <activity
            android:name=".news.NewsFeed_act"
            android:label="@string/title_activity_user_edit_act" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".profile.ProfilePrivate_act" />
        </activity>
        <activity
            android:name=".profile.ProfilePublic_act"
            android:label="@string/title_activity_profile_act" >
        </activity>
        <activity
            android:name=".observable.ToolbarControlRecyclerViewActivity"
            android:label="@string/title_activity_profile_act" >
        </activity>
        <activity
            android:name=".MaterialTabs.MainTab_act"
            android:label="@string/title_activity_profile_act" >
        </activity>
    </application>

</manifest>
